@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/features.css");

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
h2 {
  font-size: 28px;
  /*font-weight: bold;*/
  margin-bottom: 30px;
  margin-top: 0;
}

p{
  font-family: 'Bitter', serif;
  font-size: 48px;
}

.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

.btn-transparent {
  border-color: white;
  border-radius: 6px;
  color:white;
}
